.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color:black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.title span{
    color: #5f54fe;
    padding-left: 15px;
}
.reset{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #424e66;
    font-size: 26px;
    color:#5f54fe;
    margin-top: 25px;
    margin-bottom: 50px;
}
.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background: #424e66;
    border: 6px solid #16142a;
    border-radius: 12px;
    cursor: pointer;
}
.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}
.boxes img{
    margin: 25px 25px;
}
.title img{
    padding: 5px 5px;
    height: 100px;
}
body {
    background-image: url('../../public/images/bg_pattern2.png'); /* Set your repeating background image */
    background-repeat: repeat;
  }
